@import "~bootstrap/scss/bootstrap.scss";

body {
  background: green;
}

.cardContainer {
  width: 20%;
  height: 50%;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 8em;
  border-radius: 15px;
}
/*
    You can write your own styles here...


    ...Or you can use the import command to include
    other sylesheets into your bunde as well, e.j:

    import 'relative/path/to/stylesheet.scss';

*/

/*.heart:before {
  content: "\2665";
  color: red;
}*/

.heart:before {
  content: "\2665";
  color: red;
}

.cardHeart::before {
  color: red !important;
  margin: 0em !important;
  padding: 0em !important;
  top: 0em !important;
  position: relative !important;
}

.cardHeart::after {
  color: yellow !important;
  margin: 20em !important;
  padding: 20em !important;
  top: 20em !important;
  position: relative !important;
}

.cardSpade {
}

.cardDiamond {
  color: red !important;
}

.cardClub {
}
