@import "~bootstrap/scss/bootstrap.scss";

body {
  background: green;
  padding-left: 40%;
  padding-top: 10%;
}

.cardContainer {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 400px;
  background-color: white;
  font-size: 5em;
  margin: auto;
  padding: 50px;
  border-radius: 15px;
  .topCard {
    position: absolute;
    left: 5px;
    top: 0px;
  }
  .bottomCard {
    position: absolute;
    right: 5px;
    bottom: 0px;
    transform: rotate(180deg);
  }
  .middle {
    position: absolute;
    top: 125px;
    left: 90px;
  }
}
